
@media only screen and (max-width:767px){
    .hero-container{
        top: 40%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    
    .hero-container h2{
        margin-top: 13rem;
        margin-left: 5rem; 
        font-weight: 400;
        font-size: 1.5rem;
        
        
    }
    #hero {
        
        font-size: 2.5rem ; 
        letter-spacing: 2px;
        font-weight: 300;
        text-align: center;
        animation: moveInBottom 2s;
        
        
    }
    .hero-sub{
        margin-top: -6rem;
        margin-left: -1rem;
    }
}

@media only screen and (max-width:480px){
    .hero-container{
        top: 40%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    .hero-container h2{
        margin-top: 13rem;
        margin-left: 5rem; 
        font-weight: 400;
        font-size: 1rem;
        color: red;
        
    }
    #hero {
        
        font-size: 2rem ; 
        letter-spacing: 2px;
        font-weight: 300;
        text-align: center;
        animation: moveInBottom 2s;
        
        
    }
    .hero-sub{
        margin-top: -6rem;
        margin-left: -1rem;
    }
}