
@media only screen and (max-width:767px){
    
    .hero-container h2{
        margin-top: 13rem;
        margin-left: 5rem; 
        font-weight: 400;
        font-size: .9rem;
        
        
    }
    #hero {
        
        font-size: 1.2rem ; 
        letter-spacing: 2px;
         
        
    }
    .hero-sub{
        margin-top: -6rem;
        margin-left: -5rem;
    }

    .quote{
        margin-top: 3%; 
        align-content: center;
        
        
        
    }
    
    .quote h2{
        font-size: 1.3rem;
        text-align: center;
        font-family: sans-serif;
        
    }

}

@media only screen and (max-width:480px){
  
    
    .hero-container h2{
        margin-top: 13rem;
        margin-left: 5rem; 
        font-weight: 400;
        font-size: .9rem;
        
        
    }
    #hero {
        
        font-size: 2rem ; 
        letter-spacing: 2px;
             
        
    }
    .hero-sub{
        margin-top: -6rem;
        margin-left: -4rem;
    }

    .quote{
        margin-top: 3%; 
        align-content: center;
        
        
        
    }
    
    .quote h2{
        font-size: 1rem;
        text-align: center;
        font-family: sans-serif;
        
    }
 
}