/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
} */

html,
body{
    overflow-x:hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(206, 206, 206);
    font-family: "Lato" ,"Arial" ,sans-serif;
}




.header{
    background-image:linear-gradient(rgba(22, 22, 22, 0.705),rgba(22, 22, 22, 0.705)),url(img/bg/hero.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

.hero-container{
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f1ecec;
    font-family: "lato",sans-serif;
}

.hero-container h2{
    margin-top: 15rem;
    margin-left: 5rem; 
    font-weight: 300;
    font-size: 2rem;
    
}
#hero {
    
    font-size: 3.5rem ; 
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    animation: moveInBottom 2s;
    
    
}
.hero-sub{
    margin-top: -6rem;
    margin-left: -2rem;
    text-align: center;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(8rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

/* ******************SECTION OUR INFO ***********************/

.our-info{
    height: 100vh;
}

.quote{
    margin-top: 3%; 
    align-content: center;
    
    
    
}

.quote h2{
    text-align: center;
    font-family: "Lato" ,"Arial" ,sans-serif;
    line-height: 4rem;
    
}