/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
} */

html,
body{
    overflow-x:hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(206, 206, 206);
    font-family: "Lato" ,"Arial" ,sans-serif;
}




.header{
    background-image:linear-gradient(rgba(22, 22, 22, 0.705),rgba(22, 22, 22, 0.705)),url(img/bg/hero.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

.hero-container{
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #f1ecec;
    font-family: 'Montserrat', sans-serif;
}

.hero-container h2{
    margin-top: 15rem;
    margin-left: 5rem; 
    font-weight: 300;
    font-size: 2rem;
    
}
#hero {
    
    font-size: 3.5rem ; 
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    animation: moveInBottom 2s;
    
    
}
.hero-sub{
    margin-top: -6rem;
    margin-left: -2rem;
    text-align: center;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(8rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

/* ******************SECTION OUR INFO ***********************/

.our-info{
    /* height: 100vh; */
}

.quote{
    margin-top: 3%; 
    align-content: center;
    padding-bottom: 4rem;
    
    
}

.quote h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 4rem;
    
}


.quote h2:after {
    content:" ";
    display: block;
    height: 0.5em;
    vertical-align: bottom;
    width: 65%;
    top:50px;
    margin: 0 auto;
    border-top: 3px solid #bc6ff1; 
    }

.card-container{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.card{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: #424242;
    margin-top: 20px;
}

.btn{
    
    background-color: #bc6ff1;
}

.card-img-top{
    height: 300px;
}

/* ******************SECTION OUR TEAM ***********************/


.ourTeam{

   background-color: rgb(51, 49, 49);

}
.ourTeamcontainer{
    margin: 3% 10% 0 10%;
}

.gp{
    margin-top: 3rem;

}
.gp:last-of-type{
    padding-bottom: 5rem;

}
.gp:first-of-type{
    margin-top: 1rem;

}
.komalimg{
    height: 9.5rem;
    width: auto;
    border-radius: 50%;
}

.title{
    margin-top: 3%; 
    align-content: center;
    padding-bottom: 4rem;
    
    
}

.title h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 4rem;
    
}


.title h2:after {
    content:" ";
    display: block;
    height: 0.5em;
    vertical-align: bottom;
    width: 23%;
    top: 50px;
    margin: 0 auto;
    border-top: 3px solid #bc6ff1; 
    }

    blockquote{
        padding: 2%;
        margin-top: 30px;
        font-style: italic;
        position: relative;
        line-height: 145%;
    }
    
    blockquote:before{
        content: "\201C";
        font-size: 600%;
        position: absolute;
        left: 10px;
        top: -10px
    }




    /**************************CONTACT US**************** */

    .ContactUs{
        margin: 3% 10% 0 10%;
    }

    #col-heading{
        font-size: 1.4rem;
        font-family: ui-sans-serif;
    }
    .CU{
        background-color: rgb(51, 49, 49);
        border-radius: 1.5rem;
    }
    
    .address{
        text-align: left;
        padding:0 5%;
        padding-bottom: 4%;
    }

    
.contact-title{
    margin-top: 3%; 
    align-content: center;
    padding-bottom: 1rem;
    
    
}

.contact-title h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 4rem;
    
}


.contact-title h2:after {
    content:" ";
    display: block;
    height: 0.5em;
    vertical-align: bottom;
    width: 23%;
    top: 50px;
    margin: 0 auto;
    border-top: 3px solid #bc6ff1; 
    }

.maplink:link,
.maplink:visited{
        text-decoration: none;
        color: rgb(206, 206, 206);
    }

.maplink:hover,
.maplink:active{
        color: #bc6ff1;
    }

.fa-map-marker-alt{
    font-size: 1.4rem;
}

.sm{
    padding: 0 auto;
    text-align: center;
}
.smi{
    padding: 5px;
    font-size: 2.5rem;  
}
.insta:link,
.insta:visited{
        text-decoration: none;
        color: rgb(206, 206, 206);
    }

.insta:hover,
.insta:active{
        color: #e95950;
    }

.fb:link,
.fb:visited{
            text-decoration: none;
            color: rgb(206, 206, 206);
        }
    
.fb:hover,
.fb:active{
            color: #3b5998;
        }
.linkd:link,
.linkd:visited{
        text-decoration: none;
        color: rgb(206, 206, 206);
    }

.linkd:hover,
.linkd:active{
        color: #004464;
    }
